<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Scrolling Nav - Start Bootstrap Template</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
    </style>
</head>

<body id="page-top">
    <header class="ch1 center">
        <div class="container px-4 text-center" id="main_image_container">
            <img src="../assets/ch1.png" id="main_image"> </img>
            <h1 class="fw-bolder"></h1>
            <a class="start-btn" href="#ch2-container">Start!</a>

        </div>
    </header>
    <!-- About section-->
    <section class="ch2 center" id="ch2-container">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <img src="../assets/ch3.png" id="zip"> </img>
            </div>
            <form id="zip-code">
                <input id="zip-code-line" type="number">
                <input id="zip-submit-btn" type="submit" href="#services" value="Submit" class="button-37"></a>
            </form>
        </div>
        <a class="d-btn" href="#services">&darr;</a>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>